<div class="container">
    <section class="main">

        <div class="search">
            <input type="text" class="search-input" placeholder="Encontre um repositório...">
        </div>
        <div class="repos-list">
            <h3>Repositórios</h3>
            <ul>
                <li>
                    <div class="left-block">
                        <span class="repo-owner">lucaslimas</span>
                        <span class="repo-name"><b>helpers</b></span>
                    </div>
                    <div class="right-block">
                        <mat-icon>delete</mat-icon>
                    </div>
                </li>
                <li>
                    <div class="left-block">
                        <span class="repo-owner">spsconsultoria</span>
                        <span class="repo-name"><b>reactjs</b></span>
                    </div>
                    <div class="right-block">
                        <mat-icon>delete</mat-icon>
                    </div>
                </li>
                <li>
                    <div class="left-block">
                        <span class="repo-owner">usergit</span>
                        <span class="repo-name"><b>repository</b></span>
                    </div>
                    <div class="right-block">
                        <mat-icon>delete</mat-icon>
                    </div>
                </li>
            </ul>
        </div>

    </section>
    <section class="bottom">

        <div class="new-repo">
            <span class="text">Novo Repo</span>
            <input type="text" class="new-repo-input" placeholder="Adicione um repositório...">
            <button class="new-repo-button">Adicionar</button>
        </div>

    </section>
</div>